bin/
obj/
publish/
*.user
.vs/
.DS_Store
*.dmg
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
**/xcuserdata/
.dotnet-home/
xcode-build.log
copy-assets.bat

# Artefakte / Temp-Dateien
*.zip
zi0YwQWv
